/* interactions.css */
img {
    transition: transform 0.3s ease;
}

/* 确保有图片链接的图片有 pointer 光标 */
img[data-img-link] {
    cursor: pointer; /* 手指光标 */
}

/* 确保未被放大的、没有图片链接的图片有 zoom-in 光标 */
img:not([data-img-link]):not(.expanded) {
    cursor: zoom-in; /* 带加号的放大镜 */
}

/* 确保放大的图片有 zoom-out 光标 */
img.expanded {
    transform: scale(2); /* 可以根据需要调整放大倍数 */
    position: relative;
    z-index: 10;
    cursor: zoom-out; /* 带减号的放大镜 */
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* 半透明白色 */
    z-index: 5; /* 要在图片之下 */
}

#overlay.active {
    display: block;
}